:root {
  --main-color: #06bcc1;
  --secondary-color: #2b335c;
  --tertiary-color: #f6511d;
  --font-color: #eef9fc;
}

.App {
  background-color: var(--secondary-color);
  /* background: rgb(43, 51, 92); */
  /* background: linear-gradient(180deg, rgba(43, 51, 92, 1) 50%, rgba(6, 188, 193, 1) 100%); */
}
