nav.navbar {
  background-color: #2b335c !important;
}

.navbar-brand > img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

#basic-navbar-nav {
  justify-content: flex-end;
}

a.nav-link {
  margin-right: 30px;
  margin-left: 10px;
  color: #eef9fc !important;
}

a.nav-link:hover {
  color: #f6511d !important;
  border-radius: 5px;
  border: 1px solid #f6511d;
}
