nav.navbar {
  background-color: var(--secondary-color) !important;
}

.navbar-brand > img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

#basic-navbar-nav {
  justify-content: flex-end;
}

a.nav-link {
  margin-right: 30px;
  margin-left: 10px;
  color: var(--font-color) !important;
}

a.nav-link:hover {
  color: var(--tertiary-color) !important;
  border-radius: 5px;
}
