#projects {
  min-height: 100vh;
  background: rgb(43, 51, 92);
  background: linear-gradient(0deg, rgba(43, 51, 92, 1) 0%, rgba(6, 188, 193, 1) 100%);
}

#projects h2 {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  padding: 0 30px;
}

#projects .card {
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 3px solid var(--tertiary-color);
}

.card-link {
  text-decoration: none;
  color: var(--font-color);
}

.card-link:hover {
  color: var(--font-color);
}

#projects .card:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--secondary-color);
  transition: all 0.5s;
  transform: scale3d(1.05, 1.05, 1.05);
  border: none;
}

#projects .card-title {
  font-weight: 600;
}

@media (min-width: 768px) {
  #projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  #projects > div {
    padding: 0 40px;
  }
}
