#skillset {
  min-height: 100vh;
  background-color: var(--font-color);
  color: var(--secondary-color);
  border: 30px solid transparent;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, var(--secondary-color) 0%, var(--main-color) 100%);
  -webkit-border-image: -webkit-linear-gradient(top, var(--secondary-color) 0%, var(--main-color) 100%);
  border-image: linear-gradient(to bottom, var(--secondary-color) 0%, var(--main-color) 100%);
  border-image-slice: 1;
}

#skillset h2 {
  color: var(--secondary-color);
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 80px;
}

.skillset-icons-container i {
  font-size: 50px;
  color: var(--tertiary-color);
}

.skillset-icons-container {
  width: 100%;
}

@media (min-width: 768px) {
  #skillset {
    padding-top: 0;
    border: 80px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, var(--secondary-color) 0%, var(--main-color) 100%);
    -webkit-border-image: -webkit-linear-gradient(top, var(--secondary-color) 0%, var(--main-color) 100%);
    border-image: linear-gradient(to bottom, var(--secondary-color) 0%, var(--main-color) 100%);
    border-image-slice: 1;
  }

  #skillset h2 {
    font-size: 2.5rem;
    margin-bottom: 100px;
  }

  .skillset-icons-container i {
    font-size: 100px;
  }
}
