#welcome-section {
  height: 100vh;
  background-color: var(--secondary-color);
  color: var(--font-color);
  text-align: center;
}

img.profile-img {
  border-radius: 50%;
  border: 3px solid var(--tertiary-color);
}

#welcome-section h1 {
  color: var(--main-color);
  font-weight: 700;
}
